
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
*{
  list-style:none;
  
  
}
body{
  height: 100%vh;
  width: auto;
background-image: url('template.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-blend-mode: normal;
color: gold;

}

header{
  position:relative;
  text-align:center;
  font-family: 'Pushster', cursive;
  margin: 1rem;
  width:fit-content;
}
header:hover{
  cursor:pointer;
    color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

h4{
    height:2rem;
   position: relative;
   text-align: center;
   padding:1.2rem;
   cursor: pointer;

}
h4:hover{
  color:aqua;
}
button[class~="btn"]{
text-align:center;

}

/*-nav--*/

nav ul{
 
  margin: 1rem;
  padding: 3px;
  display: flex;
  flex-flow:row wrap;
 justify-content:space-between;

 
}


*[class ~="bi"]{
  font-size:3rem;
  color:gold;

}

*[class ~="bi"]:hover{
  cursor: pointer;
  font-size: 2em;
  color:aqua;

}
section[id="main"]{
  display: flex;
  justify-content: center;
}
section p{
  margin:1rem;
  font-size: 1.2em;
  padding:4rem;
  line-height:1.6;
  height:fit-content;
  width: auto;

  font-family: 'Fjalla One', sans-serif;
}
   div ul[id="social"]{

  display: flex;
  flex-direction: row wrap;
  height:2rem;
  justify-content:space-between;
  padding:1rem;
  margin: 1rem;
}
ul[id="contacts"]{
  
  display:none;

}
ul[id="contacts"]:hover{
      cursor:pointer;
      border-left:1px solid blue;
     border-bottom-left-radius: 15px;
}
/*images*/
div[class~=row]{
  padding:4px;
 margin:3rem;
  display:flex;
  flex-flow:row wrap;
position: relative;

}

img[src~="gerald.jpg"]{
   display: flex;
  min-height: auto; 
  max-height:25rem;
  width:auto;
  object-fit: fill;
 flex:1 250px;
 opacity:0.5;
  justify-content: center;
  border-radius: 15px;
}

img[src~="gerald.jpg"]:hover{

  flex-flow: row wrap;
  cursor: pointer;
  opacity: 1;


}
/*others*/
footer{
  padding: 2rem;
  margin: 3px;
}
div[id="slider"]{
  height:6rem;
  width:5rem;
}
.list-image{
  height:2rem;
  width:2rem;
  border-radius:15px;
}